/* EVITAMOS COLOCAR BORDER-BOX A TODAS LAS CAJAS
QUE LE ADICIONEMOS PADDING O BORDER Y MODIFIQUE NUESTRO WIDTH
Y ASI EVITAMOS RESULTADOS INESPERADOS.
*/

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/** Globales **/
a {
    text-decoration: none;
    color: #000;
}

/* max-width => La cantidad que puede ocupar

margin: 0 auto => Arriba y abajo 0, izquierda y derecha lo centra
automaticamente de lo que sobre de esos 1200px.

margin-inline: auto => Es lo mismo que el de arriba solo que mas nuevo.
*/
.contenedor {
    max-width: 1200px;
    margin-inline: auto;
}

/** Header y Navegacion **/
.nombre-sitio {
    margin: 50px 0;
    text-align: center;
}

/* A todos los span que esté dentro de un h1 */
.nombre-sitio span {
    color: #037bc0;
}

.contenedor-navegacion {
    border-top: 1px solid #e1e1e1;
}

.nav-principal {
    padding: 20px 0;
}

/* url: La ruta es relativa a la hoja de estilos, buscamos la imagen
desde este archivo css. 

- Por default las imgs se repiten en automatico, debemos colocarle no-repeat.
- Al poner no repeat, se corta la imagen, si queremos que se estire: cover
*/
.hero {
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}

/* PSEUDOSELECTORES etiqueta:selector

first-child: Al primer a dentro de un nav, aplique: 
last-child: Al ultimo a dentro de un nav, aplique: 
nth-child(posicion): Inicia desde 1, aplique al 'a' que se encuentre en la posicion.

nav a:nth-child(2) {
    text-transform: uppercase;
    font-size: 50px;
}

*/


/* === ESPECIFICIDAD ===
... id clase etiqueta = Nos dara un numero, entre mas alto, mayor especificidad.

No importa en que parte del documento CSS este, gana el de mayor especificidad.

!important => Nunca usarlo => 1 0 0 0 

important > id > clase > etiqueta

- No usar ID para estilos.

EJEMPLOS:

0 0 0 2 
nav a {
    text-transform: uppercase;
}

0 0 1 1 
.navegacion a{
    text-transform: lowercase;
}

0 1 0 1 
#navegacion a {
    text-transform: capitalize;
}
*/


/* CLASES */

/* .navegacion a {
    text-transform: uppercase;
} */


/* Box Model
.sobre-nosotros {
    background-color: red;
    width: 200px;
    padding: 25px;
} */

/*  Display inline y block */
/* p {
    display: inline-block;
    background-color: red;
    width: 200px;
    height: 100px;
} */